
            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                  
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-calendar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Date and Time</p>
                                <h5 class="mb-0">{{today}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sale</p>
                                <h4 class="mb-0">₹{{saletotal}}</h4>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
            <!-- Sale & Revenue End -->
                   
                
   
  
  
  <div class="d-flex flex-column justify-content-between ">

   {{!-- <div class="d-flex ">
  <button type="button" class="btn btn-success mt-3 ms-3">DAILY REPORT</button>
  <button type="button" class="btn btn-success mt-3 ms-3">MONTHLY REPORT</button>
  <button type="button" class="btn btn-success mt-3 ms-3">YEARLY REPORT</button> 
  </div> --}}
  <div class="d-flex justify-content-end pe-2" style="margin-top: 2vw;">
    <button type="button" onclick="downloadPDF()" class="btn btn-danger mt-3 ms-3 " style="">DOWNLOAD PDF<i class="fa fa-download"></i></button>
  <button type="button" onclick="downloadExcel()"class="btn btn-success mt-3 ms-3 me-3">DOWNLOAD EXCEL<i class="fa fa-download"></i></button>
  </div>
  </div>
  <div class="container-fluid pt-4 px-4" >
                <div class="row g-4">
           
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">SALES REPORT</h6>
                            <div class="table-fixed table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table" id="datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Index</th>
                                            <th scope="col">Order ID</th>
                                            <th scope="col">Order Date</th>
                                            <th scope="col">PRICE</th>
                                            <th scope="col">PAYMENT TYPE</th>
                                            
                                            {{!-- <th scope="col">Block/Unblock User</th>
                                            <th scope="col">Status</th> --}}
                                        </tr>
                                    </thead> 

                                    <tbody>
                                        {{#each SalesData}}
                                        {{#if is_delivered}}
                                        <tr>
                                            <td>{{inc @index}}</td>
                                            <td>{{_id}}</td>
                                            <td>{{orderdate}}</td>
                                            <td>{{totalprice}}</td>
                                            <td>{{payment}}</td>

                                        </tr>
                                       {{/if}}
                                        {{/each}}
                                        <tr>
                                            <td style="color: white;"><h2>TOTAL</h2></td>
                                            <td></td>
                                            <td></td>
                                            <td style="color: white;"><h2>₹{{saletotal}}</h2></td>
                                            <td></td>
                                            
                                        </tr>
                                         
                                          
                                 </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
        var mylink=document.getElementById("dash")
        mylink.classList.add("active")
        </script>

          <script>
             function downloadPDF() {
            var table = document.getElementById("datatable");
            var newWin = window.open('', 'Print-Window');
            newWin.document.open();
            newWin.document.write('<html><body onload="window.print()">' + table.outerHTML + '</html>');
            newWin.document.close();
            setTimeout(function () { newWin.close(); }, 10);
		      }
         </script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

         <script>
            function downloadExcel() {
  var table = document.getElementById("datatable");
  var worksheet = XLSX.utils.table_to_sheet(table);
  var workbook = XLSX.utils.book_new();
  XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
  XLSX.writeFile(workbook, "table.xlsx");
}
         </script>

          <script>
       $(document).ready( function () {
    $('#datatable').DataTable();
} );

 </script>
