<div style="margin-left: 72vw;margin-top:2vw">
    <a href="/admin/addcategory"><button type="button"class="btn btn-success mt-3 ms-3 me-3">ADD NEW CATEGORY<i class="fa fa-plus"></i></button></a>
  </div>

  
  <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
           
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Category Table</h6>
                            <div class="table-fixed table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table" id="categorytable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Index</th>
                                            <th scope="col">Category</th>
                                        
                                            <th scope="col">Edit-Category</th>
                                            <th scope="col">OPTIONS</th>
                                            {{!-- <th scope="col">Block/Unblock User</th>
                                            <th scope="col">Status</th> --}}
                                        </tr>
                                    </thead> 

                                    <tbody>
                                        {{#each allCategory}}
                                        <tr>
                                            
                                            <td>{{inc @index}}</td>
                                            <td>{{name}}</td>
                                            <td><a href="/admin/editcategory?id={{_id}}"><i class="bi bi-pencil-square"></i></a></td>
                                             {{#if is_listed}}
                                          
                                            <td id="block"><a><button class="btn btn-success" onclick="Unlist('{{_id}}','{{name}}')">listed</button></a></td>
                                            {{else}}
                                              <td id="unblock"><a><button class="btn btn-primary" onclick="List('{{_id}}','{{name}}')">unlist</button></a></td>
                                            {{/if}}
                                        </tr>
                                        {{/each}}
                                 
                                 </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    
 <script>
       $(document).ready( function () {
    $('#categorytable').DataTable();
} );
 </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">

<script>
            function List(id,name) {
            Swal.fire({
                title: `Are you sure want to list ${name}`,
                showDenyButton: true,
                confirmButtonText: 'Yes',
                denyButtonText: `No`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    Swal.fire('Listed!', '', 'success')

                    $.ajax({
                        url: "/admin/listcategory/"+ id,
                        success: () => {
                            location.reload()
                        }
                    })
                } else if (result.isDenied) {

                }
            })
        }



            function Unlist(id,name) {
            Swal.fire({
                title: `Are you sure want to unlist ${name}`,
                showDenyButton: true,
                confirmButtonText: 'Yes',
                denyButtonText: `No`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    Swal.fire('Unlisted!', '', 'success')

                    $.ajax({
                        url: "/admin/unlistcategory/"+ id,
                        success: () => {
                            location.reload()
                        }
                    })
                } else if (result.isDenied) {

                }
            })
        }


</script>

<script>
        var mylink=document.getElementById("category")
        mylink.classList.add("active")
        </script>